* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: WorkSans;
  src: url(./assets/fonts/WorkSans-VariableFont_wght.ttf);
}

@font-face {
  font-family: WorkSans-Italic;
  src: url(./assets/fonts/WorkSans-Italic-VariableFont_wght.ttf);
}

:root {
  --white: hsl(0, 0%, 100%);
  --light-pink: hsl(275, 100%, 97%);
  --grayish-purple: hsl(292, 16%, 49%);
  --dark-purple: hsl(292, 42%, 14%);

  --font-size-paragraph: 16px;

  --font-weight-light: 400;
  --font-weight-regular: 600;
  --font-weight-bold: 700;
}

body {
  font-family: WorkSans;
  background: url(./assets/images/background-pattern-desktop.svg);
  background-repeat: no-repeat;
  background-color: var(--light-pink);
  height: 100vh;
  display: grid;
  align-content: center;
  justify-content: center;
}

p {
  font-size: var(--font-size-paragraph);
}

article {
  background-color: var(--white);
  width: 300px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
