@font-face {
  font-family: "Outfit";
  src: url(./assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Young Serif";
  src: url(./assets/fonts/young-serif/YoungSerif-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Primary Colors */

  --nutmeg: hsl(14, 45%, 36%);
  --dark-raspberry: hsl(332, 51%, 32%);

  /* Neutral Colors */

  --white: hsl(0, 0%, 100%);
  --rose-white: hsl(330, 100%, 98%);
  --eggshell: hsl(30, 54%, 90%);
  --light-grey: hsl(30, 18%, 87%);
  --wenge-brown: hsl(30, 10%, 34%);
  --dark-charcoal: hsl(24, 5%, 18%);

  /* Typography */
  --font-size-paragraph: 16px;

  /* Font Weights */
  /* Young Serif */
  --young-serif-weight: 400;

  /* Outfit */
  --outfit-normal-weight: 400;
  --outfit-weight: 600;
  --outfit-bold-weight: 700;
}

body {
  background-color: var(--rose-white);
  font-family: "Outfit", sans-serif;
}

p {
  font-size: var(--font-size-paragraph);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Young Serif", sans-serif;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

.attribution {
  font-size: 11px;
  text-align: center; 
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
