@font-face {
  font-family: "Outfit";
  src: url(./assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Young Serif";
  src: url(./assets/fonts/young-serif/YoungSerif-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Primary Colors */

  --nutmeg: hsl(14, 45%, 36%);
  --dark-raspberry: hsl(332, 51%, 32%);

  /* Neutral Colors */

  --white: hsl(0, 0%, 100%);
  --rose-white: hsl(330, 100%, 98%);
  --eggshell: hsl(30, 54%, 90%);
  --light-grey: hsl(30, 18%, 87%);
  --wenge-brown: hsl(30, 10%, 34%);
  --dark-charcoal: hsl(24, 5%, 18%);

  /* Typography */
  --font-size-paragraph: 16px;

  /* Font Weights */
  /* Young Serif */
  --young-serif-weight: 400;

  /* Outfit */
  --outfit-normal-weight: 400;
  --outfit-weight: 600;
  --outfit-bold-weight: 700;
}

body {
  background-color: var(--eggshell);
  font-family: "Outfit", sans-serif;
}

p {
  font-size: var(--font-size-paragraph);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Young Serif", sans-serif;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

/* Image reset CSS */
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 1rem;
}

article {
  width: 672px;
  display: grid;
  margin-inline: auto;
  margin-block: 4rem;
  background-color: var(--white);
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
  gap: 2rem;
}

article *:not(h1, h2, h3, h4, h5, h6) {
  font-family: "Outfit", sans-serif;
  font-weight: var(--outfit-normal-weight);
}

article h2 {
  color: var(--nutmeg);
  font-weight: var(--outfit-normal-weight);
}

article span {
  font-weight: var(--outfit-weight);
}

article h3 {
  color: var(--dark-raspberry);
  font-family: var(--outfit-normal-weight);
}

.omelette-image {
  width: 100%;
  border-radius: 1rem;
  overflow: hidden;
}

.omelette-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-sec {
  display: grid;
  gap: 1rem;
}

.preparation {
  display: grid;
  gap: 0.25rem;
  background-color: var(--rose-white);
  border-radius: 1rem;
  padding: 2rem;
}

.preparation ul {
  display: grid;
  gap: 1rem;
  padding: 1rem 2rem;
}

.preparation ul li::marker {
  color: var(--dark-raspberry);
}

.preparation ul li span {
  margin-left: 1rem;
}

.ingredients ul {
  padding: 1.4rem;
  display: grid;
  gap: 1rem;
}

.ingredients ul li {
  padding-left: 1rem;
}

.ingredients ul li::marker {
  color: var(--nutmeg);
}

.instructions ol {
  padding: 1.4rem;
  display: grid;
  gap: 1rem;
}

.instructions ol li {
  padding-left: 1rem;
}

.instructions ol li::marker {
  color: var(--nutmeg);
  font-family: "Outfit";
  font-weight: var(--outfit-bold-weight);
}

.attribution {
  font-size: 11px;
  text-align: center; 
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
