/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap'); */

@font-face {
  font-family: 'Roboto-Regular';
  src: url('./assets/fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('./assets/fonts/Roboto-Bold.ttf');
}

:root {
  --dark-slate-grey: hsl(234, 29%, 20%);
  --charcoal-grey: hsl(235, 18%, 26%);
  --grey: hsl(231, 7%, 60%);
  --white: hsl(0, 0%, 100%);

  --regular: 'Roboto-Regular';
  --bold: 'Roboto-Bold';

  --font-size: 16px;

  --line-height: 1.5;
}

*::after, *::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: var(--charcoal-grey);
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

p {
  font-size: var(--font-size);
  font-family: var(--regular);
}

h1 {
  font-family: var(--bold);
}

ul {
  list-style: none;
}

.sign-up-card {
  background: var(--white);
  border-radius: 10px;
  padding: 20px;
  display: flex;
}

.sign-up-card-image img {
  height: 500px;
}

.attribution {
  font-size: 11px;
  text-align: center; 
}

.attribution a {
  color: hsl(228, 45%, 44%); 
}