@font-face {
  font-family: "Inter";
  src: url(./assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

:root {
  /* Primary */

  --green: hsl(75, 94%, 57%);

  /* Neutral */

  --white: hsl(0, 0%, 100%);
  --grey: hsl(0, 0%, 20%);
  --dark-grey: hsl(0, 0%, 12%);
  --off-black: hsl(0, 0%, 8%);

  /* Typography */

  /* Body Copy */

  --font-size-paragraph: 14px;

  /* Font */

  --font-family-inter: "Inter";

  --font-weight-regular: 400;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family-inter);
  background-color: var(--off-black);
  color: var(--white);
  font-size: var(--font-size-paragraph);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
  background-color: var(--dark-grey);
  padding: 2rem;
  border-radius: 0.5rem;
  width: 30%;
}

img {
  width: 30%;
  border-radius: 50%;
}

.owner h1 {
  font-weight: var(--font-weight-bold);
  font-size: 1.5rem;
}

.owner p {
  color: var(--green);
  font-weight: var(--font-weight-semi-bold);
}

.about-me p {
  font-weight: var(--font-weight-regular);
}

.socials {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.socials a {
  text-decoration: none;
  color: var(--white);
  background-color: var(--grey);
  font-weight: var(--font-weight-semi-bold);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 0.5rem 0;
  text-align: center;
  padding: 1rem;
  border-radius: 0.5rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }

  article {
    width: 80%;
    padding: 1rem;
  }

  img {
    width: 50%;
  }

  .owner h1 {
    font-size: 1.2rem;
  }

  .socials a {
    font-size: 0.8rem;
  }
}
