@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {

  /* Primary Colors */
  --violet: hsl(257, 40%, 49%);
  --soft-magenta: hsl(300, 69%, 71%);

  /* Typography */

  /* Headings */
  --heading-font-family: "Poppins", sans-serif;
  --heading-fw-1: 600;
  --heading-fw-2: 400;

  /* Body Color */
  --body-font-family: "Open Sans", sans-serif;
  --body-fw: 400;
}

body {
  font-family: var(--body-font-family);
  background-color: var(--violet);
  background-image: url(./images/bg-desktop.svg);
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 100vh;
  color: #fff;
}

h1 {
  font-family: var(--heading-font-family);
  font-weight: var(--heading-fw-1);
  font-size: 2.5rem;
}

p {
  font-weight: var(--body-fw);
}

img {
  max-width: 100%;
}

header {
  padding: 30px;
}

main {
  display: flex;
  justify-content: center;
  padding: 30px;
  gap: 3rem;
  width: 100%;
}

main img {
  width: 100%;
}

main div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 70%;
  gap: 1rem;
  padding: 3rem;
}

main div p {
  font-size: 1.1rem;
}

main div button {
  border: none;
  border-radius: 50px;
  padding: 1rem 3rem;
  background-color: #fff;
  color: var(--violet);
  font-family: var(--heading-font-family);
  font-weight: var(--heading-fw-1);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}