@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&family=Roboto:wght@400;700&display=swap');

:root {
  --orange: hsl(25, 97%, 53%);  
  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 12%, 54%);
  --dark-blue: hsl(213, 19%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);

  --font-regular: 400;
  --font-bold: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Overpass', sans-serif;
  font-size: 15px;
  background-color: var(--very-dark-blue);
  color: var(--white);
}

.attribution {
  font-size: 11px;
  text-align: center; 
}

.attribution a {
  color: hsl(228, 45%, 44%);
}