* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Figtree Italic';
  src: url('./assets/fonts/Figtree-Italic-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Figtree VariableFont';
  src: url('./assets/fonts/Figtree-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Figtree ExtraBold';
  src: url('./assets/fonts/static/Figtree-ExtraBold.ttf');
}

@font-face {
  font-family: 'Figtree Semibold';
  src: url('./assets/fonts/static/Figtree-SemiBold.ttf');
}

:root {
  /* primary */
  --yellow: hsl(47, 88%, 63%);

  /* Neutral */
  --white: hsl(0, 0%, 100%);
  --grey: hsl(0, 0%, 50%);
  --black: hsl(0, 0%, 7%);

  /* Typography */
  --font-paragraph: 16px;

  /* fonts */
  --font-italic: 'Figtree Italic', sans-serif;
  --font-variable: 'Figtree VariableFont', sans-serif;
  --font-extrabold: 'Figtree ExtraBold', sans-serif;
  --font-semibold: 'Figtree Semibold', sans-serif;
}

body {
  background-color: var(--yellow);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  font-size: var(--font-paragraph);
}

.card {
  background-color: var(--white);
  width: 350px;
  box-shadow: 5px 7px 2px var(--black);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 15px;
  transition: transform 0.3s ease-in-out;
}

.card:hover,
.card:active {
  transform: scale(1.1);
  box-shadow: 9px 11px 6px var(--black);
}

.card-img img {
  overflow: hidden;
  width: 100%;
  border-radius: 8px;
}

.card-description {
  display: grid;
  gap: 10px;
}

.card-description p {
  font-family: var(--font-variable);
  font-weight: 400;
  color: var(--grey);
}

.card-description p:first-child {
  font-family: var(--font-extrabold);
  color: var(--black);
  background-color: var(--yellow);
  padding: 5px 10px;
  border-radius: 5px;
  width: fit-content;
}

.card-description h3 {
  font-weight: lighter;
  color: var(--black);
  font-size: var(--font-paragraph);
}

.card-description h2 {
  font-family: var(--font-extrabold);
  color: var(--black);
  font-size: 25px;
  letter-spacing: -2px;
}

.user {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 10px;
}

.user img {
  width: 30px;
  border-radius: 50%;
}

.user h2 {
  font-family: var(--font-extrabold);
  color: var(--black);
  font-size: var(--font-paragraph);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}